/* line 1, scss/_default.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, em, font, img, ins, small, strong, sub, sup, b, u, i, center, ol, ul, li, fieldset, form, label, legend, table, tbody, th, td {
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  margin: 0;
  padding: 0;
}

/* line 9, scss/_default.scss */
html {
  height: 100%;
  width: 100%;
}

/* line 13, scss/_default.scss */
div, input, select, textarea, ul {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
}

/* line 19, scss/_default.scss */
table {
  width: 100%;
  border-spacing: 0;
}

/* line 23, scss/_default.scss */
body {
  height: 100%;
  width: 100%;
  color: #3f3f3f;
  font: 14px Arial, Helvetica, sans-serif;
}

/* line 5, scss/main.scss */
body {
  background: white url("../img/bg.png") repeat top left;
}
