/* line 1, scss/_default.scss */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, em, font, img, ins, small, strong, sub, sup, b, u, i, center, ol, ul, li, fieldset, form, label, legend, table, tbody, th, td {
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  margin: 0;
  padding: 0;
}

/* line 9, scss/_default.scss */
html {
  height: 100%;
  width: 100%;
}

/* line 13, scss/_default.scss */
div, input, select, textarea, ul {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
}

/* line 19, scss/_default.scss */
table {
  width: 100%;
  border-spacing: 0;
}

/* line 23, scss/_default.scss */
body {
  height: 100%;
  width: 100%;
  color: #3f3f3f;
  font: 14px Arial, Helvetica, sans-serif;
}

/* line 5, scss/main.scss */
body {
  background: white url("../img/bg.png") repeat top left;
}

/* line 186, scss/main.scss */
#header {
  height: 40px;
  background-color: white;
  position: fixed;
  border-bottom: 1px solid #D3D3D3;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
}

/* line 196, scss/main.scss */
#header-position-height-offset {
  height: 40px;
  margin-bottom: 12px;
}

/* line 201, scss/main.scss */
.table_container {
  border: 1px solid #696969;
  border-radius: 2px;
  cursor: default;
  background: white url("../img/bg.png") repeat top left;
  box-shadow: 0 0 2px #696969;
  margin: 0 8px 12px 8px;
}
/* line 15, scss/main.scss */
.table_container .table_header {
  height: 24px;
  background-color: #A9A9A9;
  padding-left: 5px;
}
/* line 19, scss/main.scss */
.table_container .table_header p {
  font-size: 16px;
  line-height: 24px;
}
/* line 26, scss/main.scss */
.table_container .table_content table tr {
  min-height: 20px;
}
/* line 27, scss/main.scss */
.table_container .table_content table tr .td_image {
  width: 150px;
  height: 150px;
  display: inline-block;
  background-size: cover;
  border: 1px solid #696969;
  border-radius: 2px;
  background-color: white;
}
/* line 36, scss/main.scss */
.table_container .table_content table tr .td_image_tt {
  top: 20px;
  left: 220px;
  position: absolute;
  padding: 4px;
  border-radius: 2px;
  border: 1px solid #696969;
  background-color: white;
  box-shadow: 0 0 8px #696969;
  min-height: 240px;
  min-width: 320px;
}
/* line 49, scss/main.scss */
.table_container .table_content table tr td {
  padding: 2px 4px 4px 4px;
  vertical-align: top;
  text-align: left;
}
/* line 53, scss/main.scss */
.table_container .table_content table tr td:first-child {
  border-right: 1px solid #A9A9A9;
  width: 200px;
  position: relative;
}
/* line 58, scss/main.scss */
.table_container .table_content table tr td:nth-child(2) {
  width: 200px;
}
/* line 61, scss/main.scss */
.table_container .table_content table tr td:nth-child(4) {
  width: 150px;
}
/* line 66, scss/main.scss */
.table_container .table_content table tr:not(:last-child) td {
  border-bottom: 1px solid #A9A9A9;
}
/* line 71, scss/main.scss */
.table_container .table_content table thead {
  background-color: #D3D3D3;
}
/* line 73, scss/main.scss */
.table_container .table_content table thead tr {
  height: 24px;
}
/* line 75, scss/main.scss */
.table_container .table_content table thead tr td {
  vertical-align: middle;
  border-top: 1px solid white;
  border-right: 1px solid white;
  text-shadow: 0 1px 1px white;
}
/* line 80, scss/main.scss */
.table_container .table_content table thead tr td:first-child {
  border-right: 1px solid white;
  border-left: 1px solid white;
}
/* line 88, scss/main.scss */
.table_container .table_content table tbody tr:hover {
  background-color: white;
}
/* line 92, scss/main.scss */
.table_container .table_content table tbody tr td:first-child {
  padding: 2px;
}
/* line 95, scss/main.scss */
.table_container .table_content table tbody tr td:nth-child(4) {
  padding-top: 8px;
  padding-bottom: 8px;
}
/* line 99, scss/main.scss */
.table_container .table_content table tbody tr td:first-child, .table_container .table_content table tbody tr td:nth-child(4) {
  text-align: center;
}

/* line 206, scss/main.scss */
.tabs_menu {
  float: left;
  border: 1px solid #696969;
  border-radius: 2px;
  box-shadow: 0 0 2px #696969;
  margin: 0 8px 8px 8px;
}
/* line 113, scss/main.scss */
.tabs_menu a.tab {
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding: 4px 8px;
  outline: none;
  min-width: 32px;
  height: 16px;
  display: block;
  float: left;
  color: #3f3f3f;
  background-color: white;
  text-shadow: 0 1px 1px white;
}
/* line 126, scss/main.scss */
.tabs_menu a.tab:not(:last-child) {
  border-right: 1px solid #696969;
}
/* line 129, scss/main.scss */
.tabs_menu a.tab:not(.selected):hover {
  background-color: #D3D3D3;
}
/* line 132, scss/main.scss */
.tabs_menu a.tab.selected {
  background-color: #A9A9A9;
}

/* line 211, scss/main.scss */
.insets_menu {
  float: left;
  border: 1px solid #696969;
  border-bottom: none;
  border-radius: 2px 2px 0 0;
  position: absolute;
  bottom: 0;
  left: 8px;
}
/* line 143, scss/main.scss */
.insets_menu a.inset {
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  outline: none;
  min-width: 32px;
  padding: 4px 8px 8px 8px;
  height: 16px;
  display: block;
  float: left;
  color: #3f3f3f;
  background-color: white;
  text-shadow: 0 1px 1px white;
}
/* line 156, scss/main.scss */
.insets_menu a.inset:not(:last-child) {
  border-right: 1px solid #696969;
}
/* line 159, scss/main.scss */
.insets_menu a.inset:not(.selected):hover {
  background-color: #D3D3D3;
}
/* line 162, scss/main.scss */
.insets_menu a.inset.selected {
  background-color: #A9A9A9;
}

/* line 218, scss/main.scss */
.button {
  border: 1px solid #696969;
  border-radius: 2px;
  background-color: white;
  cursor: pointer;
  text-shadow: 0 1px 1px white;
  height: 24px;
  min-width: 100px;
}
/* line 176, scss/main.scss */
.button:enabled:hover {
  background-color: #D3D3D3;
}
/* line 179, scss/main.scss */
.button:disabled {
  cursor: default;
  color: silver;
  text-shadow: none;
}

/* line 222, scss/main.scss */
#statistics_container {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  max-width: 1200px;
  height: 400px;
}
