<div class="table_header"><p>Показано автомобилей: <span class="table_amount">0</span></p></div>
<div class="table_content">
    <div class="td_image_tt" style="display:none;"><img src="" alt="Изображение отсутствует" /></div>
    <table>
        <thead>
            <tr>
                <td>Изображение</td>
                <td>Название</td>
                <td>Описание</td>
                <td>Управление</td>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
