$font: 14px Arial, Helvetica, sans-serif;
$font_color: #3F3F3F;
$font_color_disabled: silver;

$color_gray: rgba(105,105,105,1);
$color_red: rgba(178,34,34,1);
$color_green: rgba(34,178,34,1);

$path_img: "../img/";
$path_bg: "bg.png";
