@mixin box-sizing ($sizing) {
    box-sizing: $sizing !important;
      -moz-box-sizing: $sizing !important;
      -webkit-box-sizing: $sizing !important;
}
@mixin background($url) {
    background: rgba(255,255,255,1) url($url) repeat top left;
}
@mixin pos_absolute($padding) {
    position: absolute;
    top: $padding;
    bottom: $padding;
    left: $padding;
    right: $padding;
}
@mixin box-border($color, $radius, $shadow) {
    border: 1px solid $color;
    border-radius: $radius;
    @if $shadow != null {
        box-shadow: 0 0 $shadow $color;
    }
}
