$font: 14px Arial, Helvetica, sans-serif;
$font_color: #3F3F3F;
$font_color_disabled: silver;

$color_border: #696969;
$color_bgdark: #A9A9A9;
$color_bglight: #D3D3D3;
$color_bgwhite: white;

$path_img: "../img/";
$path_bg: "bg.png";
